<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>webicians</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
	<link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Catamaran:wght@200&family=Henny+Penny&family=Pacifico&display=swap" rel="stylesheet">  
</head>
<body>
<div id="content">	
	<header>
		<figure>
		</figure>
		<a>the webicians</a>
	</header>
		
	<section class="call-to-action">
		<h1>Call For Tech-preneurs</h1>
			<p>
				The Webicians is a start up of Junior Software Developers, based in Nairobi, Kenya. Do you have basic tech skills? Would you love to work in a team; under minimal pressure? Of course you love to make cash using your skill.We believe in team playing as a strategic plan to increase productivity that is why we are calling for willing Junior Web Developers, Junior Mobile App Developers, Data Science Students, Graphics Designers And Content Creators to join this innovative team.
			</p>		
	</section>


	<section class="missionvision">
		<div>
			<figure></figure>
			<h2>Mission</h2>
			<p>
				Our mission is to form a software development company that delivers powerful, elegant and scalable applications.  
			</p>
		</div>
		<div class="vision">
			<figure></figure>
			<h2>Vision</h2>
			<p>
				To become a leading, trusted software developer company in Africa.
			</p>
		</div>
	</section>
	<section class="contactform">
		<p>Become a Webician today!</p>
		<form>
			<input type="text" name="fname" placeholder="first name">
			<input type="text" name="lname" placeholder="second name">
			<input type="text" name="email" placeholder="email address">
			<input type="text" name="phone" placeholder="whatsapp phone number">
			<button type="submit">Join</button>
		</form>
	</section>
</div>
	<script type="script.js"></script>
	<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>